.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-pick {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 50px;
  width: 60%;
  display: flex;
  justify-content: center;
}

.button {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.input-container {
    margin: 20px;
    padding: 50px;
}
