.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-pick {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 50px;
  width: 60%;
  display: flex;
  justify-content: center;
}

.button {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.input-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 5px solid black;
  margin-top: 30px;
}

.input {
  padding: 10px;
  border: 2px solid black;
  width: 80%;
}
